extends layout

block content
    div.header
        h2#title List of PCS
        input#search(placeholder="  Search Here")
    div.content
        svg.map#JC035
        svg.map#Tutor
        svg.map#JH105.visible
        svg.map#JH110
        svg.map#JH103
        svg.map#Morrison

        table
            thead
                tr
                    th Address
                    th Users
            tbody#pcTableBody
                each pc in pcList
                    tr.pc
                        td.address #{pc}
                        td.users
    script(src='/javascripts/pcScript.js')


