extends layout

block content
    div.header
        h2#title List of PCS
        input#search(placeholder="  Search Here")
    div.content
        canvas#JC035
        canvas#Tutor
        canvas#JH105.visible
        canvas#JH110
        canvas#JH103
        canvas#Morrison

        table
            thead
                tr
                    th Address
                    th Users
            tbody#pcTableBody
                each pc in pcList
                    tr.pc
                        td.address #{pc}
                        td.users
    script(src='/javascripts/pcScript.js')


