extends layout
include indexCards

block append head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/index.css")
block prepend header
    .row
        .col-12
            h1 Kathan Cheema
        .col-12
            p Welcome to my website!
block content
    .row.mb-3
        .col
            .card-deck
                .card.mb-3(style="background: var(--main-bg-color); outline: 4px solid var(--dark-color);")
                    .card-header
                        h2.card-title What this is.
                        h3.card-subtitle These are links relevant to the classes I am taking.
                    .card-footer.text-right(style="border-color: var(--dark-color);")
                        small.text-muted(style="color: var(--text-color)!important;")
                            span="Recruiters "
                            a(href="/personal")="this"
                            span=" way."
    .row.mb-3
        .col
            .card-deck
                +dark_card("SEP", "Software Engineering Project", "CS5031", "https://studres.cs.st-andrews.ac.uk/CS5031/").
                +dark_card("CP", "Constraint Programming", "CS4402", "https://studres.cs.st-andrews.ac.uk/CS4402/")
                +dark_card("DEP", "Data Ethics and Privacy", "CS5055", "https://studres.cs.st-andrews.ac.uk/CS5055/")
