mixin dark_card(abbr, modName, code, link)
    a.no-a.card.mb-3.onclick(href=`${link}`)
        .card-body
            h2.card-title=abbr
            h4.card-subtitle=modName
        .card-body
            h6.text-right.card-subtitle=code
