extends layout

block append head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(async rel="stylesheet", href="/stylesheets/index.css")
block prepend header
    .row
        .col-12
            h1 Kathan Cheema
        .col-12
            p Welcome to my website!
block content
    .row 
        .col
            p yeet
