extends layout
block append head
    link(rel="stylesheet", href="/stylesheets/labs.css")
block prepend header
    .row
        .col-12
            h1 Lab Checker
    .row 
        .col-12
            p See who's online (Facebook v2?)
block append header
    script(src="javascripts/script.js")   
block content
    .row.justify-content-center
        .col-3
            h3 Selected PC Name
        .col-3
            h3 Selected PC Users
    .row.justify-content-center
        .col-3
            span#current-pc N/A
        .col-3
            span#current-users N/A
    .row.justify-content-center
        .col-3
            input#search(placeholder="Search by pc or user name")
        .col-3
            select#labSelector
                optgroup(label="John Honey")
                    option(value="JH105") JH105 Quiet
                    option(value="JH103") JH103 Goldfish
                    option(value="JH110") JH110 Main
                    option(value="Morrison") Morrison
                optgroup(label="Jack Cole")
                    option(value="JC035") JC035 Main
                optgroup(label="List")
                    option(value="List") List of PCs
    div#content.row
        div#views
            svg.map#JC035
            svg.map#JH105.visible
            svg.map#JH110
            svg.map#JH103
            svg.map#Morrison
            table#List
                thead
                    tr
                        th Address
                        th Users
                tbody#pcTableBody
                    each pc in pcList
                        tr.pc
                            td.address #{pc}
                            td.users




