doctype html
html
  head
    block head
      title= title
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous")
      link(rel="stylesheet", href="/stylesheets/style.css")
      link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
      link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
      link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
      link(rel="manifest", href="/site.webmanifest")
      link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#2f4f4f")
      meta(name="msapplication-TileColor", content="#2d89ef")
      meta(name="theme-color", content="#ffffff")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header.container
      block header
        ul.nav.nav-pills.nav-justified
          li.nav-item
            a(href="/").nav-link.site Home
          li.nav-item
            a(href="/labs").nav-link.site Labs
          li.nav-item
            a(href="/grades").nav-link.site Grades
        script 
          | 
          |const tabs = document.getElementsByClassName("site");
          |if (window.location.pathname === "/") {
          |  tabs.item(0).classList.add("active");
          |} else if (window.location.pathname === "/labs") {
          |  tabs.item(1).classList.add("active");
          |} else if (window.location.pathname === "/grades") {
          |  tabs.item(2).classList.add("active");
          |}
          |
    .container
      block content

