extends layout
block prepend header
    .row
        .col-12
            h1 Kathan Cheema
        .col-12
            p About Me!
block content
    .row.mb-3
        .col-12
            h2 What this is
        .col-12
            p Howdy there, this is a work in progress.
