.col-12.contains-pre {
    padding     : 20px 20px 0 20px;
    background  : var(--dark-color);
    color       : var(--text-color);
}
pre {
    border-radius: 5px;
    overflow-x: scroll;
    width: 80%;
    max-width: 80%;
    white-space: pre-wrap;
}
pre.long {
    display: flex;
    flex-direction: column;
}
p > code.my-tooltip, li > code.my-tooltip {
    color: wheat
}
code {
    width: 80%;
    max-width: 80%;
}

code.info {
    background : var(--dark-color)
}

code.my-tooltip {
    color : var(--red-color)
}

code.my-tooltip:hover {
    background-color: var(--main-bg-color);
}

.my-tooltip {
    font-family: monospace;
}

.my-tooltip:hover {
    background-color: var(--main-bg-color);
}

@media screen and (min-width: 768px) {

    .my-tooltip {
        position: relative;
    }

    .my-tooltip::before {
        content: attr(data-tip) ;   
        
        font-size: var(--main-font-size);
        position:absolute;
        z-index: 999;
        white-space:nowrap;
        bottom:9999px;
        left: 50%;
        background: var(--dark-color);
        color:var(--text-color);
        padding:2px 7px;
        line-height: 28px;
        height: 34px;
        outline: 4px solid var(--text-color);
        
        
        opacity: 0;  
        transition:opacity 0.4s ease-out; 
    }

    .my-tooltip:hover::before {
        top: -38px;
        opacity: 1;
        left: unset;
        bottom:unset;
    }
    
    
    .my-tooltip.values::before {
        content: "An array of grade objects.";
    }

    .my-tooltip.grade::before {
        content: "Your grade from 0-20 for a module.";
    }

    .my-tooltip.credits::before {
        content: "How many credits from 15-120 the module is worth.";
    }

    .my-tooltip.achieved::before {
        content: "Whether this is a current achieved grade (true or absent) or a predicted grade (false).";
    }

}
