:root {
    --main-bg-color: #0A100D;
    --red-color: #E55934;
    --dark-color: #2D3142;
    
    --text-color: wheat;
    --header-color: #F6BD60;


    --main-font-size: 24px;
}

body {
    background: var(--main-bg-color);
    color: var(--text-color);

    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--main-font-size)!important;
}

h1, h2, h4 {
    color: var(--header-color);
}
.center-column {
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: center;
}

.nav-pills .nav-link.active {
    border-radius: 0;
    color: var(--header-color);
    background-color: var(--dark-color);
}

.nav-pills .nav-link {
    border-radius: 0;
    color: var(--dark-color);
    background-color: var(--header-color);
}
.nav-pills .nav-link:nth-of-type(1) {
    outline: 2px solid var(--dark-color);
}
.nav-pills {
    outline: 4px solid var(--dark-color);
}
header {
    padding-top: 15px;
    padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }
    .row > *, .row > * > * {
        font-size: large
    }
    .row > * > h1 {
        font-size: x-large
    }
    
    .row > * > h2 {
        font-size: larger
    }
}