body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.active {
    color: green;
    fill: green;
}

.inactive {
    color: red;
    fill: red;
}

#pcTableBody.searchMode > .pc {
    display: none;
}

#pcTableBody.searchMode > .pc.matches {
    display: table-row;
}

.views > .visible {
    display: unset;
}

.views > * {
    width: 100%;
    height: auto;
    display: none;
}